<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flavoured/cart</title>
    <link rel="stylesheet" href="/CSS/cartSkin_0.css">
</head>

<body>
    <%- include('./partials/errors.ejs') %>
    <form action="/user/checkout" method="post">
        <img src="/IMAGES/Flavoured_with_slogan-transformedd.png" alt="logo" id="logo" />
        <header>Items in cart:</header>
        <% if (orders.length > 0) { 
        for( let index = 0; index < orders.length; index++ ) { %>
        
        <div class="item">
            <h1><%= orders[index].prodname %></h1>
            <h2>Total price: <span> EGP <%= orders[index].prodprice*orders[index].quantity %></span></h2>
            <img src="/IMAGES/mock <%=orders[index].state%>.png" alt="item" class="pr">
            <div class="quantity">
                <img src="/IMAGES/minus.png" onclick="remove('<%=index%>', '<%=orders[index].prodprice%>')" alt="remove">
                <span class="num"><%=orders[index].quantity%></span>
                <img src="/IMAGES/plus.png" onclick="add('<%=index%>','<%=orders[index].prodprice%>' )"  alt="add">
            </div>
        </div>
        <% }}%>   
        <button type="button" onclick="location.replace('/store')"> <img src="/IMAGES/previous.png" alt="cancel" id="cncl"></button>
        <button type="button" onclick="sub()"> <img src="/IMAGES/purchase.png" alt="purchase"></button>   
    </form>
    <script type="text/javascript" src="/JS/checkout.js"></script>
</body>

</html>