<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flavoured/admin dashboard</title>
    <link rel="stylesheet" href="/CSS/ordersSkin_0.css">
</head>

<body>
    <%- include('./partials/errors.ejs') %>

        <div class="sidebar">
            <div class="logo-details">

                <span><img id="logo" src="/IMAGES/Flavoured_with_slogan-transformedd.png" alt="logo"></span>
            </div>
            <ul class="nav-links">
                <li> <a href="/admin">
                        <img src="/IMAGES/data-report.png" alt="dashboard">
                        <span class="links_name">Dashboard</span></a>
                </li>
                <li> <a href="/admin">
                        <img src="/IMAGES/stats.png" alt="analytics">
                        <span class="links_name">Analytics</span></a>
                </li>
                <li class="active"><a href="/admin/orders">
                        <img src="/IMAGES/order.png" alt="order">
                        <span class="links_name">Orders</span></a>
                </li>
                <li><a href="/admin/products">
                        <img src="/IMAGES/product.png" alt="products">
                        <span class="links_name">Products</span></a>
                </li>
                <li> <a href="/admin/users">
                        <img src="/IMAGES/customers.png" alt="users">
                        <span class="links_name">Users</span></a>
                </li>
                <li id="out">
                    <a href="/logout">
                        <img src="/IMAGES/logout.png" alt="exit">
                        <span class="links_name">Log out</span></a>
                </li>
            </ul>
        </div>

        <section>
            <nav>
                <div class="sidebar-button">
                    <span class="dashboard">Admin Dashboard</span>
                </div>
                <div class="search-box">
                    <input type="text" id="searchInput" onkeyup="sendData(this)" placeholder="Search...">
                    <form id="searched">
                        <input type="hidden" id="itemclicked" name="itemclicked" value="">
                        <div id="searchResults" class="search-results"></div>
                        <img src="/IMAGES/search.png" alt="search">
                    </form>
                </div>
                <div class="profile-details">
                    <span class="admin_name"> Welcome, Flavourer</span>
                    <img src="/IMAGES/admin.png" alt="admin">
                </div>
            </nav>
        </section>
        <section class="orderList">
            <ul>
                <% for( let index=0; index < orders.length; index++ ) { %>
                    <li class="list">
                        <div class="OrderID">
                            <%
                            let date = orders[index].createdAt.toString().split('G');; 
                            %>
                            <span class="orderDate"><h3>Order:</h3><%=date[0]%><span class="italic"> <%=orders[index]._id%></span>
                            </span>
                        </div>
                        <div class="OrderDetails">
                            <div class="customer">
                                <h4>Customer:</h4><%=orders[index].customerName%> <%=orders[index].customer%>
                            </div>
                            <div class="product">
                                <h4>Product:</h4><%=orders[index].productName%> <%=orders[index].product%>
                            </div>
                            <div>
                                <h4>Quantity:</h4><%=orders[index].quantity%>
                            </div>
                            <div>
                                <input type = "hidden" class="shade" name="shade" value="<%=orders[index].shade%>">
                                <h4>Color:</h4> <span class="color"></span>
                            </div>
                            <div>
                                <h4>Form:</h4> <%=orders[index].form%>
                            </div>
                            <div class="status">
                                <h4>Status:</h4>  
                                    <span>
                                        <%=orders[index].status.name%>
                                    </span> <img src="/IMAGES/<%=orders[index].status.img%>" alt="status">
                            </div>
                            <button class="del"
                                onclick="location.replace('/admin/removeo?id=<%=orders[index]._id%>')">Delete
                            </button>
                            <button class="mod">Progress</button>
                        </div>
                    </li>
                    <%}%>
            </ul>
        </section>
        <script src="/JS/colordisplay.js" type="text/javascript"></script>
</body>

</html>