<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flavoured/store</title>
    <link rel="stylesheet" href="/CSS/storeSkin_0.css" />
</head>

<body>
    <%- include('./partials/errors.ejs') %>

    <script type="text/javascript" src="/JS/navbar.js"></script>
    <section class="searchbar">
        <div class="bar">
            <input type="text" id="searchInput" name="searchInput" onkeyup="sendData(this)" placeholder="Search store for a flavour: i.e Flavour_Name " required />
           <form id="searched">
            <input type="hidden" id="itemclicked" name="itemclicked" value="">
            <span class="type">
                <label><img src="/IMAGES/bottle.png" alt="liquid" /><input type="radio" name="state" value="extract" checked
                        class="liquid" /></label>
                <label><img src="/IMAGES/powder.png" alt="powder" /><input type="radio" name="state" value="powder"
                        class="powder" /></label>
            </span>
            <input type="color" name="color" value="#A84448" />
            <button type="submit" id="buyfromsearch"name="buyfromsearch"><img  id="searchedCart" src="/IMAGES/cart icon.png" alt="add searched to cart"></button>
            <div id="searchResults" class="search-results"></div>
            </form>
        </div>
    </section>
    
    <section class="items fade">
        <% for (let element = 0; element < prods.length; element++) { %>
        <div class="product ">
            <img class="productimg" src="<%=prods[element].imgUrl%>" alt="<%=prods[element].imgUrl%>" />
            <details>
                <summary><%= prods[element].name %></summary>
                <div class="productInfo">
                    Price : EGP <%=prods[element].price %>
                    <label><img src="/IMAGES/bottle.png" alt="liquid" />Liquid
                        <input type="radio" name="state1" class="liquid" checked /></label>
                    <label><img src="/IMAGES/powder.png" alt="powder" />Powder
                        <input type="radio" name="state1" class="powder" /></label>
                    <label class="color">Shade :
                        <input type="color" value="#9A6751" /></label>
                    <div class="cart">
                        <button type="button" name="addtocart"><img src="/IMAGES/cart icon.png" alt="cart"></button>
                    </div>

                </div>
            </details>
        </div>
        <% } %>
    <div id="pages">
        <span class="page" onclick="currentPage('p')"><</span>
       
        <% let c1 , c2 , c3;
           if(current_page>1 && current_page< total_page) c1 = current_page - 1, c2 = current_page, c3 = current_page + 1;
           if(current_page === total_page) c1 = total_page - 2, c2 = total_page - 1, c3 = total_page;
           if(current_page === 1) c1 = 1, c2 =2, c3 = 3;
           current_page = Math.ceil(current_page)
        %>

        <div class="bin">
            <div><%= current_page%></div>
            <div><%= total_page%></div>
        </div>

        <span class="page" onclick="currentPage('c1')"><%= parseInt(c1) %> </span>
        <span class="page" onclick="currentPage('c2')"><%= parseInt(c2) %> </span>
        <span class="page" onclick="currentPage('c3')"><%= parseInt(c3) %> </span>
        <span class="page" onclick="currentPage('n')">></span>

        <span class="go">
            <a href="/user/cart">
                <img src="/IMAGES/gotocart.png" alt="go to cart"><span id="go"></span>
            </a>
        </span>

        </div>
        <script type="text/javascript" src="/JS/productsChange.js"></script>
        <script type="text/javascript" src="/JS/scrollfade.js"></script>
        <script type="text/javascript" src="/JS/livesearch.js"></script>
</body>

</html>